<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYQqpeOmIJUgR2-NwoeVkP4YudqgyfAPw</string>
	<key>GCM_SENDER_ID</key>
	<string>472472683975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.algonquincollege.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>opendoors-6a0e8</string>
	<key>STORAGE_BUCKET</key>
	<string>opendoors-6a0e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472472683975:ios:ad36edd83e7f8b56b7c5e2</string>
</dict>
</plist>